.venv/
.env
.env.*
.uploads/
uploads
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
uploads/
*.egg-info/
build/
dist/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# editor/os
.vscode/
.idea/
.DS_Store
Thumbs.db
